<div class="container p-3">
  <h1>Add a task</h1>
  <%= form_with model: @task do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
    <%= f.label :details %>
    <%= f.text_field :details %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
